.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

#App-header-todos {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Be Vietnam Pro';
}

.adversarios,
.campeonatos,
.estadios,
.todosOsJogos {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

details {
  margin-bottom: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

details:hover {
  cursor: pointer;
}

details>summary {
  list-style-type: 'ᐳ';
}

details[open]>summary {
  list-style-type: 'ᐯ';
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

#selectAdversario,
#selectEstadio,
#selectAno {
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 7px;
  outline: none;
  display: block;
  cursor: pointer;
  width: 50vw;
  text-align: center;
  font-weight: bold;
}

#selectAdversario:hover,
#selectEstadio:hover,
#selectAno:hover {
  text-decoration: underline;
  font-weight: bold;
}

summary::after {
  margin-left: 1ch;
  vertical-align: middle;
  transition: 0.2s;
  content: '\203A';
  float: right;
  position: relative;
  top: 50%;
}

details[open] summary::after {
  float: right;
  position: relative;
  top: 50%;
}

p {
  text-align: center;
  white-space: normal;
}

/* SUMMARY DEFAULT */
details[open] #summaryDefault::after {
  transform: translate(0%, 5%) rotate(90deg);
}


#summaryDefault::after {
  transform: translateY(5%);
}

/* SUMMARY ADVERSÁRIO */

details[open] #summaryAdversario::after {
  transform: translate(0%, 80%) rotate(90deg);
}


#summaryAdversario::after {
  transform: translateY(70%);
}

/* BARRA DE RESULTADOS */
.resultsBar {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #b3b3b3;
  color: white;
  text-align: center;
}

.vitoriasBar {
  height: 100%;
  background-color: green;
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.empatesBar {
  height: 100%;
  background-color: orange;
  float: left;
}

.derrotasBar {
  height: 100%;
  background-color: red;
  float: left;
}

/* Div Jogo */
.divJogo {
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
}

/* TABS */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px auto 0;
  word-break: break-all;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #26272c;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.tabs:hover{
  background: #35373e;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: #35373e;
  border-bottom: 1px solid transparent;
  color: white;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: white;
}

button#tab {
  border: none;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
  #selectEstadio, #selectAno, #selectAdversario{
    width: 100%;
  }
  #tituloOpcao{
    font-size: 5vw;
  }
  #tituloAdversario{
    font-size: 4vw;
  }
  #escudoAdversario{
    width: 30vw;
  }
  #tab {
    white-space: nowrap;
    font-size: 15px;
  }
  .escudoLinha{
    width: 3em;
    height: 3em;
  }
  .nomeTime{
    font-size: 2.5vw;
    /* overflow: 'hidden';
    text-overflow: 'ellipsis';
    white-space: 'pre-wrap'; */
  }
}

@media screen and (min-width: 801px) {
  .container {
    width: 80vw;
  }
  #selectEstadio, #selectAno, #selectAdversario{
    width: 80vw;
  }
  #tituloOpcao{
    font-size: 2rem;
  }
  #tituloAdversario{
    font-size: 20px;
  }
  #escudoAdversario{
    width: 30vw;
    max-width: 200px;
  }
  #tab {
    font-size: 20px;
  }
  .escudoLinha{
    width: 4rem;
    height: 4rem;
  }
  .nomeTime{
    font-size: 20px;
  }
}