.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.adversarios,
.campeonatos,
.estadios,
.todosOsJogos {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

details {
  margin-bottom: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

details>summary {
  list-style-type: 'ᐳ';
}

details[open]>summary {
  list-style-type: 'ᐯ';
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

details[open] summary::after {
  transform: translate(0%, 80%) rotate(90deg);
  float: right;
  position: relative;
  top: 50%;
}

summary {
  padding: 10px;
  border-radius: 7px;
  outline: none;
  display: block;
}

summary::after{
  margin-left: 1ch;
  /* display: inline-block; */
  vertical-align: middle;
  transition: 0.2s;
  content: '\203A';
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(70%); 
}

p {
  text-align: center;
}

.expandableButton:hover {
  cursor: pointer;
}