.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.adversarios,
.campeonatos,
.estadios,
.todosOsJogos {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

details {
  margin-bottom: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

details:hover {
  cursor: pointer;
}

details>summary {
  list-style-type: 'ᐳ';
}

details[open]>summary {
  list-style-type: 'ᐯ';
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

#selectTime, #selectEstadio, #selectAno {
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 7px;
  outline: none;
  display: block;
  cursor: pointer;
  width: 50vw;
  text-align: center;
  font-weight: bold;
}

#selectTime:hover, #selectEstadio:hover, #selectAno:hover {
  text-decoration: underline;
  font-weight: bold;
}

summary::after{
  margin-left: 1ch;
  vertical-align: middle;
  transition: 0.2s;
  content: '\203A';
  float: right;
  position: relative;
  top: 50%;
}

details[open] summary::after {
  float: right;
  position: relative;
  top: 50%;
}

p {
  text-align: center;
}

/* SUMMARY DEFAULT */
details[open] #summaryDefault::after {
  transform: translate(0%, 5%) rotate(90deg);
}


#summaryDefault::after{
  transform: translateY(5%); 
}

/* SUMMARY ADVERSÁRIO */

details[open] #summaryAdversario::after {
  transform: translate(0%, 80%) rotate(90deg);
}


#summaryAdversario::after{
  transform: translateY(70%); 
}

/* BARRA DE RESULTADOS */
.resultsBar{
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #b3b3b3;
  color: white;
  text-align: center;
}

.vitoriasBar{
  height: 100%;
  background-color: green;
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.empatesBar{
  height: 100%;
  background-color: orange;
  float: left;
}

.derrotasBar{
  height: 100%;
  background-color: red;
  float: left;
}

/* Div Jogo */
.divJogo{
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
}